body{
  background: linear-gradient(to bottom,rgb(210,147,129),rgba(210,147,129,0)) no-repeat;
  background: cover;
}
.heading{
  border:2px solid;
  text-align: center;
}
img{
  height:160px;
  width:40%;
  margin:5px;
}
#rps-flex{
  margin:10px;
  display:flex;
  justify-content: space-around;
}
img:hover{
  box-shadow:5px 10px 15px rgb(40, 131, 191);
}